@using PagedList.Mvc;
@model PagedList.IPagedList<lab_3.Models.Rubik>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Thêm rubik mới", "Create", null, new { @class = "btn btn-warning" })
</p>
@using (Html.BeginForm("Index", "Rubik", FormMethod.Get, new { @class = "form-inline" }))
{
    <div class="form-group form-inline" style="display: flex;">
        <input type="Text" class="form-control col-md-10" value="@ViewBag.Keyword"
               name="searchString" placeholder="Nhập tên Rubik cần tìm">
        <input type="submit" class="btn btn-info" value="Tìm Rubik" style="marginleft:10px;">
    </div>
    <br>
}


<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div class="panel panel-default">
                <div class="panel panel-heading">
                    <strong>@item.ten</strong>
                </div>
                <div class="panel-body">
                    <p><strong>Loại: </strong>@item.maloai</p>
                    <p><strong>Mô tả: </strong>@item.mota</p>
                    <p><strong>Hãng: </strong>@item.hang</p>
                    <p><strong>Giá: </strong>@item.gia</p>
                    <p><img src="@item.hinh" alt="hinh thumnail"></p>
                    <p><strong>Còn lại: </strong>@item.soluongton</p>
                    <p><strong>Ngày cập nhật: </strong>@item.ngaycapnhat</p>
                </div>
                <div class="panel-footer clearfix">
                    <div class="pull-right">
                        @Html.ActionLink("Read more...", "Detail", new
                        {
                            id = item.id
                       }, new { @class = "btn btn-default" })
                        @Html.ActionLink("Delete", "Delete", new { id = item.id }, new
                       { @class = "btn btn-success" })
                        @Html.ActionLink("Edit", "Edit", new { id = item.id }, new
                        {
                       @class = "btn btn-success"
                        })
                    </div>
                </div>
            </div>
        </div>
    }
</div>
<div>
    <div>
        Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) /
        @Model.PageCount
    </div>
    <div class="MenuTrang">
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }))
    </div>
</div>
<style>
    .MenuTrang li {
        display: inline;
    }
</style>
<style type="text/css">
    #mau-nut a {
        clear: both;
        background-color: orange;
        color: snow;
    }

        #mau-nut a:hover {
            background-color: darkcyan;
            color: snow;
        }
</style>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script>
    $(document).ready(function () {
        var maxLength = 100;
        $(".show-read-more").each(function () {
            var myStr = $(this).text();
            if ($.trim(myStr).length > maxLength) {
                var newStr = myStr.substring(0, maxLength);
                var removedStr = myStr.substring(maxLength, $.trim(myStr).length);
                $(this).empty().html(newStr);
                $(this).append(' <a href="javascript:void(0);" class="read-more">đọc tiếp...</a>');

                $(this).append('<span class="more-text">' + removedStr + '</span>');
            }
        });
        $(".read-more").click(function () {
            $(this).siblings(".more-text").contents().unwrap();
            $(this).remove();
        });
    });
</script>
<style>
    .show-read-more .more-text {
        display: none;
    }
</style>